@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600");
@font-face {
  font-family: "Didot";
  src: url("assets/Didot.ttc"); }

@keyframes scrollDown {
  0% {
    transform: translateY(0px); }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(15px); } }

@keyframes pulse {
  0% {
    r: 5; }
  90% {
    opacity: 0; }
  100% {
    r: 30; } }

body {
  background-color: #1E1E1E;
  color: white;
  -webkit-font-smoothing: antialiased; }
  body .site-wrapper {
    margin: 0 auto; }
    body .site-wrapper .header {
      margin-top: 50px; }
      body .site-wrapper .header__logo {
        position: fixed;
        width: 137px;
        left: 50px;
        top: 66px;
        opacity: 0; }
      body .site-wrapper .header__menu {
        position: fixed;
        width: 60px;
        cursor: pointer;
        right: 50px; }
        body .site-wrapper .header__menu .menu-ani {
          transition-duration: .35s;
          transition-timing-function: ease-out; }
        body .site-wrapper .header__menu:hover .menu-ani {
          fill: #BF4D1B;
          stroke-width: 0px; }
        body .site-wrapper .header__menu .menu-words {
          transition: .35s; }
        body .site-wrapper .header__menu:hover .menu-words {
          fill: #000; }
        @media (max-width: 700px) {
          body .site-wrapper .header__menu {
            top: 20px;
            right: 20px; } }
    body .site-wrapper .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-around;
      flex-wrap: wrap;
      padding-top: 160px; }
      body .site-wrapper .hero__main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%; }
        body .site-wrapper .hero__main-title {
          padding: 10px;
          width: 746px; }
          @media (max-width: 700px) {
            body .site-wrapper .hero__main-title {
              width: 282px;
              padding-bottom: 0; } }
        body .site-wrapper .hero__main-subtitle {
          margin: 0;
          padding: 20px;
          font-size: 13px;
          letter-spacing: 9px;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          text-align: center; }
          @media (max-width: 700px) {
            body .site-wrapper .hero__main-subtitle {
              font-size: 10px;
              letter-spacing: 2px; } }
      body .site-wrapper .hero__app {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px 0; }
        body .site-wrapper .hero__app-icons {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap; }
          body .site-wrapper .hero__app-icons__icon {
            width: 50px;
            margin-right: 30px; }
            body .site-wrapper .hero__app-icons__icon:last-of-type {
              margin-right: 0; }
            body .site-wrapper .hero__app-icons__icon .app-ani {
              transition: 0.25s;
              transition-timing-function: ease; }
            body .site-wrapper .hero__app-icons__icon:hover .app-ani {
              fill: #BF4D1B;
              stroke-width: 0; }
        body .site-wrapper .hero__app .ogdesc {
          transition: .5s; }
        body .site-wrapper .hero__app .hero__app-icons:hover > .ogdesc {
          opacity: 0; }
        body .site-wrapper .hero__app .hero__app-icons__icon:hover ~ .ogdesc {
          display: none; }
        body .site-wrapper .hero__app .photoshop:hover ~ .desc1 {
          display: inline; }
        body .site-wrapper .hero__app .illustrator:hover ~ .desc2 {
          display: inline; }
        body .site-wrapper .hero__app .aftereffect:hover ~ .desc3 {
          display: inline; }
        body .site-wrapper .hero__app .sketch:hover ~ .desc4 {
          display: inline; }
        body .site-wrapper .hero__app .atom:hover ~ .desc5 {
          display: inline; }
        body .site-wrapper .hero__app .drawing:hover ~ .desc6 {
          display: inline; }
        body .site-wrapper .hero__app-desc {
          width: 100%;
          margin: 0;
          margin-top: 45px;
          color: #BF4D1B;
          font-size: 26px;
          font-weight: 700;
          font-family: "Didot";
          letter-spacing: -.5px;
          text-align: center; }
        body .site-wrapper .hero__app .desc1 {
          display: none; }
        body .site-wrapper .hero__app .desc2 {
          display: none; }
        body .site-wrapper .hero__app .desc3 {
          display: none; }
        body .site-wrapper .hero__app .desc4 {
          display: none; }
        body .site-wrapper .hero__app .desc5 {
          display: none; }
        body .site-wrapper .hero__app .desc6 {
          display: none; }
        @media (max-width: 700px) {
          body .site-wrapper .hero__app {
            display: none; } }
      body .site-wrapper .hero__app-mobile {
        display: none; }
        @media (max-width: 700px) {
          body .site-wrapper .hero__app-mobile {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 100px; }
            body .site-wrapper .hero__app-mobile__svg {
              width: 74px;
              padding: 35px 0; }
            body .site-wrapper .hero__app-mobile__desc {
              width: 100%;
              color: #BF4D1B;
              font-family: 'Didot';
              font-weight: bold;
              font-size: 22px;
              letter-spacing: 0.5px;
              text-align: center; } }
      body .site-wrapper .hero__scroll {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 0;
        align-content: space-between;
        height: 45px; }
        body .site-wrapper .hero__scroll-desc {
          width: 100%;
          font-size: 10px;
          font-family: "Montserrat", sans-serif;
          letter-spacing: 7.5px;
          text-align: center; }
        body .site-wrapper .hero__scroll-arrow {
          width: 17px;
          animation: scrollDown 1.5s ease infinite; }
    body .site-wrapper .footer {
      position: fixed;
      left: 50px;
      bottom: 50px; }
      @media (max-width: 700px) {
        body .site-wrapper .footer {
          display: none; } }
      body .site-wrapper .footer__page {
        font-size: 30px;
        font-family: "Didot";
        font-weight: 700;
        letter-spacing: -1.45px; }
    body .site-wrapper .ui {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 250px 0; }
      @media (max-width: 700px) {
        body .site-wrapper .ui {
          flex-wrap: wrap;
          margin: 150px 0; } }
      body .site-wrapper .ui__illustration {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 65px; }
        @media (max-width: 700px) {
          body .site-wrapper .ui__illustration {
            justify-content: center;
            width: 100%;
            margin: 0; } }
        body .site-wrapper .ui__illustration-svg {
          width: 70%; }
      body .site-wrapper .ui__info {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 65px;
        font-family: "Montserrat", sans-serif; }
        @media (max-width: 700px) {
          body .site-wrapper .ui__info {
            justify-content: center;
            width: 100%;
            margin: 0;
            padding-top: 40px; } }
        body .site-wrapper .ui__info__title {
          width: 100%;
          font-size: 42px;
          font-weight: 600;
          letter-spacing: 10.80px;
          line-height: 50px;
          word-wrap: break-word; }
          @media (max-width: 700px) {
            body .site-wrapper .ui__info__title {
              font-size: 28px;
              letter-spacing: 2.3px;
              text-align: center; } }
        body .site-wrapper .ui__info__desc {
          width: 65%;
          margin: 20px 0;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: .5px;
          line-height: 30px; }
          @media (max-width: 700px) {
            body .site-wrapper .ui__info__desc {
              width: 70%;
              text-align: center; } }
        body .site-wrapper .ui__info__cta {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 5px; }
          @media (max-width: 700px) {
            body .site-wrapper .ui__info__cta {
              justify-content: center; } }
          body .site-wrapper .ui__info__cta-svg {
            width: 35px;
            margin-right: 25px; }
          body .site-wrapper .ui__info__cta-link {
            color: #BF4D1B;
            text-decoration: none; }
    body .site-wrapper .illustration {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 250px 0;
      padding-top: 100px; }
      @media (max-width: 700px) {
        body .site-wrapper .illustration {
          flex-wrap: wrap;
          margin: 150px 0; } }
      body .site-wrapper .illustration__graphic {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 65px; }
        @media (max-width: 700px) {
          body .site-wrapper .illustration__graphic {
            justify-content: center;
            width: 100%;
            margin: 0; } }
        body .site-wrapper .illustration__graphic-svg {
          width: 75%; }
      body .site-wrapper .illustration__info {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 65px;
        font-family: "Montserrat", sans-serif; }
        @media (max-width: 700px) {
          body .site-wrapper .illustration__info {
            justify-content: center;
            width: 100%;
            margin: 0;
            padding-top: 40px; } }
        body .site-wrapper .illustration__info__title {
          width: 100%;
          font-size: 42px;
          font-weight: 600;
          letter-spacing: 10.80px;
          line-height: 50px;
          word-wrap: break-word; }
          @media (max-width: 700px) {
            body .site-wrapper .illustration__info__title {
              font-size: 28px;
              letter-spacing: 2.3px;
              text-align: center; } }
        body .site-wrapper .illustration__info__desc {
          width: 65%;
          margin: 20px 0;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: .5px;
          line-height: 30px; }
          @media (max-width: 700px) {
            body .site-wrapper .illustration__info__desc {
              width: 68%;
              text-align: center; } }
        body .site-wrapper .illustration__info__cta {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 5px; }
          @media (max-width: 700px) {
            body .site-wrapper .illustration__info__cta {
              justify-content: center; } }
          body .site-wrapper .illustration__info__cta-svg {
            width: 35px;
            margin-right: 25px; }
          body .site-wrapper .illustration__info__cta-link {
            color: #BF4D1B;
            text-decoration: none; }
    body .site-wrapper .motion {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 250px 0;
      padding-top: 100px; }
      @media (max-width: 700px) {
        body .site-wrapper .motion {
          flex-wrap: wrap;
          margin: 150px 0; } }
      body .site-wrapper .motion__graphic {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 65px; }
        @media (max-width: 700px) {
          body .site-wrapper .motion__graphic {
            justify-content: center;
            width: 100%;
            margin: 0; } }
        body .site-wrapper .motion__graphic-svg {
          width: 71%; }
      body .site-wrapper .motion__info {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 65px;
        font-family: "Montserrat", sans-serif; }
        @media (max-width: 700px) {
          body .site-wrapper .motion__info {
            justify-content: center;
            width: 100%;
            margin: 0;
            padding-top: 40px; } }
        body .site-wrapper .motion__info__title {
          width: 100%;
          font-size: 42px;
          font-weight: 600;
          letter-spacing: 10.80px;
          line-height: 50px;
          word-wrap: break-word; }
          @media (max-width: 700px) {
            body .site-wrapper .motion__info__title {
              font-size: 28px;
              letter-spacing: 2.3px;
              text-align: center; } }
        body .site-wrapper .motion__info__desc {
          width: 65%;
          margin: 20px 0;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: .5px;
          line-height: 30px; }
          @media (max-width: 700px) {
            body .site-wrapper .motion__info__desc {
              width: 68%;
              text-align: center; } }
        body .site-wrapper .motion__info__cta {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 5px; }
          @media (max-width: 700px) {
            body .site-wrapper .motion__info__cta {
              justify-content: center; } }
          body .site-wrapper .motion__info__cta-svg {
            width: 35px;
            margin-right: 25px; }
          body .site-wrapper .motion__info__cta-link {
            color: #BF4D1B;
            text-decoration: none; }
    body .site-wrapper .about {
      display: flex;
      justify-content: center;
      background-color: #273575;
      padding-top: 120px; }
      @media (max-width: 700px) {
        body .site-wrapper .about {
          flex-wrap: wrap;
          padding: 0 40px;
          padding-top: 120px; } }
      body .site-wrapper .about__info {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 80px;
        margin-right: 30px;
        width: 50%;
        padding-bottom: 45px; }
        @media (max-width: 700px) {
          body .site-wrapper .about__info {
            justify-content: center;
            width: 100%;
            margin: 0; } }
        body .site-wrapper .about__info__title {
          color: #273575;
          font-size: 42px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          letter-spacing: 10px;
          padding-bottom: 20px;
          text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
          @media (max-width: 700px) {
            body .site-wrapper .about__info__title {
              font-size: 38px;
              letter-spacing: 5px;
              text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff; } }
        body .site-wrapper .about__info__desc {
          font-size: 12px;
          font-family: "Montserrat", sans-serif;
          font-weight: 100;
          letter-spacing: 0.5px;
          line-height: 30px;
          width: 450px;
          padding-bottom: 60px; }
          @media (max-width: 700px) {
            body .site-wrapper .about__info__desc {
              text-align: center; } }
        body .site-wrapper .about__info__icons {
          display: flex;
          justify-content: space-between;
          width: 70%;
          padding-bottom: 120px; }
          body .site-wrapper .about__info__icons-group {
            width: 52px; }
            @media (max-width: 700px) {
              body .site-wrapper .about__info__icons-group {
                width: 60px;
                margin-left: 20px; } }
          @media (max-width: 700px) {
            body .site-wrapper .about__info__icons {
              justify-content: center;
              flex-wrap: wrap;
              width: 90%;
              padding-bottom: 0; }
              body .site-wrapper .about__info__icons-mobile {
                margin-left: 0; }
              body .site-wrapper .about__info__icons-behance {
                margin-left: 0; } }
        body .site-wrapper .about__info__email {
          width: 100%;
          color: white;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: 0.5px;
          text-decoration: none; }
      body .site-wrapper .about__portrait {
        width: 50%;
        margin-left: 30px;
        background: url(../assets/portrait.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-right: 50px; }
        @media (max-width: 1200px) {
          body .site-wrapper .about__portrait {
            margin-right: 0; } }
        @media (max-width: 700px) {
          body .site-wrapper .about__portrait {
            width: 100%;
            height: 330px;
            margin: 0;
            background-size: contain; } }

@media (max-width: 700px) {
  .breakspace {
    display: none; } }

.circle-pulse {
  animation: pulse 1.75s ease infinite; }
