@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600');
@font-face {
    font-family: "Didot";
    src:url("assets/Didot.ttc");
}

//Sass Variables
$black: #1E1E1E;
$orange: #BF4D1B;
$blue: #273575;

$montserrat: 'Montserrat', sans-serif;


//keyframes

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@keyframes pulse {
  0%{
    r: 5;
  }
  90%{
    opacity: 0;
  }
  100%{
    r: 30;
  }
}

@keyframes uiAni {
  0% {
    stroke-dashoffset: 1000;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes ilAni {
  0% {
    stroke-dashoffset: 1050;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes moAni {
  0% {
    stroke-dashoffset: 1150;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes titleAni {
  0% {
    stroke-dashoffset: 400px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes opacityFadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes opacityFadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: $black;
  color: white;
  -webkit-font-smoothing: antialiased;

  .site-wrapper {
    margin: 0 auto;
    position: relative;

    .header {
      margin-top: 50px;

      &__logo {
        position: fixed;
        width: 137px;
        left: 50px;
        top: 66px;
        opacity: 0;
      }

      &__menu{
        position: fixed;
        width: 60px;
        cursor: pointer;
        right: 50px;
        z-index: 1;

        .menu-ani {
          transition-duration: .35s;
          transition-timing-function: ease-out;
        }

        &:hover .menu-ani {
          fill: #BF4D1B;
          stroke-width: 0px;
        }

        .menu-words {
          transition: .35s;
        }

        &:hover .menu-words {
          fill: #000;
        }

        @media (max-width: 700px){
          top: 20px;
          right: 20px;
        }
      }

      &__home{
        position: fixed;
        width: 60px;
        cursor: pointer;
        right: 60px;
        z-index: 2;
        display: none;
        opacity: 0;
        animation: opacityFadein2 1000ms 250ms forwards;

        @media (max-width: 700px){
          top: 20px;
          right: 20px;
        }
      }
    }

    .overlay {
      width: 100%;
      height: 0;
      background: $orange;
      position: fixed;
      top: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      transition: 500ms ease;

      &__column1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 40%;

        @media (max-width: 700px){
          display: none;
        }

        h1{
          font-family: $montserrat;
          font-weight: 700;
          font-size: 205px;
          letter-spacing: 25px;
        }

        .nu{
          letter-spacing: 30px;
        }
      }

      &__line {
        border-left: 1px solid white;
        width: 1px;
        height: 300px;
        margin-left: -30px;

        @media (max-width: 700px){
          display: none;
        }
      }

      &__column2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 40%;

        @media (max-width: 700px){

          width: 100%;

          a {
            margin: 0;
            transform: scale(.75);
          }
        }

        @media (min-width: 1500px){

          width: 40%;

        }

        a{
          color: white;
          font-family: $montserrat;
          font-size: 32px;
          font-weight: 100;
          letter-spacing: 6.15px;
          text-decoration: none;
          transition: 750ms ease;

          &:hover {
            transform: scale(.75);
          }
        }

        &-btn1 {
          padding: 70px 60px;
          border: 1px solid white;
          margin-right: 30px;
          margin-bottom: 20px;
          transform: scale(.85);
        }
        &-btn2 {
          padding: 70px 50px;
          border: 1px solid white;
          margin-left: 30px;
          margin-bottom: 20px;
          transform: scale(.85);
        }
        &-btn3 {
          padding: 70px 64px;
          border: 1px solid white;
          margin-right: 30px;
          margin-top: 20px;
          transform: scale(.85);
        }
        &-btn4 {
          padding: 70px 45px;
          border: 1px solid white;
          margin-left: 30px;
          margin-top: 20px;
          transform: scale(.85);
        }
      }
    }

    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-around;
      flex-wrap: wrap;
      padding-top: 160px;
      animation: opacityFadein 1000ms forwards;

      &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
        width: 100%;

        &-title {
          padding: 10px;
          width: 746px;

          svg {
            stroke-dasharray: 400px;
            stroke-dashoffset: 400px;
            animation: titleAni 3000ms ease 1000ms forwards;
          }

          @media (max-width: 700px) {
            width: 282px;
            padding-bottom: 0;
          }
        }

        &-subtitle {
          margin: 0;
          padding: 20px;
          font-size: 13px;
          letter-spacing: 9px;
          font-weight: 500;
          font-family: $montserrat;
          text-align: center;

          @media (max-width: 700px) {
            font-size: 10px;
            letter-spacing: 2px;
          }
        }
      }

      &__app {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px 0;

        &-icons{
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          &__icon{
            width: 50px;
            margin-right: 30px;

            &:last-of-type{
              margin-right: 0;
            }

            .app-ani {
              transition: 0.25s;
              transition-timing-function: ease;
            }

            &:hover .app-ani {
              fill: $orange;
              stroke-width: 0;
            }

            &:hover .app-ani2 {
              fill: $black;
              stroke-width: 0;
            }
          }
        }

        .ogdesc {
          transition: .5s;
        }

        .hero__app-icons:hover > .ogdesc {
          opacity: 0;
        }

        .hero__app-icons__icon:hover ~ .ogdesc {
          display: none;
        }

        .hero__app-icons__icon:hover ~ .appname {
          display: none;
        }

        .photoshop:hover ~ .appname1{
          display: inline;
        }

        .photoshop:hover ~ .desc1{
          display: inline;
        }

        .illustrator:hover ~ .appname2{
          display: inline;
        }

        .illustrator:hover ~ .desc2{
          display: inline;
        }

        .aftereffect:hover ~ .appname3{
          display: inline;
        }

        .aftereffect:hover ~ .desc3{
          display: inline;
        }

        .sketch:hover ~ .appname4{
          display: inline;
        }

        .sketch:hover ~ .desc4{
          display: inline;
        }

        .atom:hover ~ .appname5{
          display: inline;
        }

        .atom:hover ~ .desc5{
          display: inline;
        }

        .drawing:hover ~ .appname6{
          display: inline;
        }

        .drawing:hover ~ .desc6{
          display: inline;
        }


        &-desc{
          width: 100%;
          margin: 0;
          margin-top: 45px;
          color: $orange;
          font-size: 26px;
          font-weight: 700;
          font-family: "Didot";
          letter-spacing: -.5px;
          text-align: center;
        }

        &-desc2 {
          margin-top: 30px;
          font-size: 10px;
          color: $orange;
          font-family: $montserrat;
          letter-spacing: 5px;
          text-transform: uppercase;
        }

        .appname1 {
          display: none;
        }
        .appname2 {
          display: none;
        }
        .appname3 {
          display: none;
        }
        .appname4 {
          display: none;
        }
        .appname5 {
          display: none;
        }
        .appname6 {
          display: none;
        }

        .desc1{
          display: none;
        }

        .desc2{
          display: none;
        }

        .desc3{
          display: none;
        }

        .desc4{
          display: none;
        }

        .desc5{
          display: none;
        }

        .desc6{
          display: none;
        }

        @media (max-width: 700px){
          display: none;
        }
      }

      &__app-mobile {
        display: none;

        @media (max-width: 700px){
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          padding-bottom: 70px;

          &__svg{
            width: 74px;
            padding: 35px 0;
          }

          &__desc{
            width: 100%;
            color: $orange;
            font-family: 'Didot';
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 0.5px;
            text-align: center;
          }

          &__desc2 {
            padding-top: 20px;
            color: $orange;
            font-family: $montserrat;
            font-size: 12px;
            letter-spacing: 2px;
            text-align: center;
          }
        }

      }
      &__scroll{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 0;
        margin-top: 0px;
        align-content: space-between;
        height: 45px;


        &-desc{
          width: 100%;
          font-size: 10px;
          font-family: $montserrat;
          letter-spacing: 7.5px;
          text-align: center;
        }
        &-arrow{
          width: 17px;
          animation: scrollDown 1.5s ease infinite;
        }
      }
    }

    .footer {
      position: fixed;
      left: 50px;
      bottom: 50px;

      @media (max-width: 700px) {
        display: none;
      }

      &__page{
        font-size: 30px;
        font-family: "Didot";
        font-weight: 700;
        letter-spacing: -1.45px;
      }
    }
    .ui {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-top: 200px;
      margin-bottom: 50px;

      @media (max-width: 700px) {
          flex-wrap: wrap;
          margin-top: 100px;
      }

      &__illustration {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 65px;

        @media (max-width: 700px){
          justify-content: center;
          width: 100%;
          margin: 0;
        }

        &-svg{
          width: 70%;

          svg {
            stroke-dashoffset: 1000;
            stroke-dasharray: 1000;
          }
        }
      }

      &__info {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 65px;
        font-family: $montserrat;

        @media (max-width: 700px){
          justify-content: center;
          width: 100%;
          margin: 0;
          padding-top: 40px;
        }

        &__title {
          width: 100%;
          font-size: 42px;
          font-weight: 600;
          letter-spacing: 10.80px;
          line-height: 50px;
          word-wrap: break-word;

          @media (max-width: 700px){
            font-size: 28px;
            letter-spacing: 2.3px;
            text-align: center;
          }
        }

        &__desc {
          width: 65%;
          margin: 20px 0;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: .5px;
          line-height: 30px;

          @media(max-width: 700px) {
            width: 70%;
            text-align: center;
          }
        }

        &__cta {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 5px;

          @media(max-width: 700px) {
            justify-content: center;
          }

          &-svg {
            width: 35px;
            margin-right: 25px;
          }

          &-link {
            color: $orange;
            text-decoration: none;
          }
        }
      }
    }

    .uiworks-hider {
      display: none;
    }

    .uiworks{
      width: 100%;
      height: 100vh;
      background: url('../assets/ui-background.png');
      background-size: auto;
      background-repeat: no-repeat;
      background-color: $orange;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 500ms ease;
      overflow: hidden;

      @media (max-width: 700px){
        height: 989px;
        flex-wrap: wrap;
        align-content: center;
        background-image: none;
      }

      div{
        background-color: $blue;
        width: 333px;
        height: 222px;
        margin-left: 50px;
        box-shadow: -18px 21px 33px rgba(0, 0, 0, 0.2);

        @media (max-width: 700px){
            margin: 20px 0;
        }

        &:first-of-type{
          margin-left: 0;
        }
      }

    }
    .illustration {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-top: 200px;
      margin-bottom: 50px;


      @media (max-width: 700px) {
          flex-wrap: wrap;
          margin-top: 150px;
      }

      &__graphic {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 65px;

        @media (max-width: 700px){
          justify-content: center;
          width: 100%;
          margin: 0;
        }

        &-svg{
          width: 75%;

          svg {
            stroke-dashoffset: 1050;
            stroke-dasharray: 1050;
          }
        }
      }

      &__info {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 65px;
        font-family: $montserrat;

        @media (max-width: 700px){
          justify-content: center;
          width: 100%;
          margin: 0;
          padding-top: 40px;
        }

        &__title {
          width: 100%;
          font-size: 42px;
          font-weight: 600;
          letter-spacing: 10.80px;
          line-height: 50px;
          word-wrap: break-word;

          @media (max-width: 700px){
            font-size: 28px;
            letter-spacing: 2.3px;
            text-align: center;
          }
        }

        &__desc {
          width: 65%;
          margin: 20px 0;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: .5px;
          line-height: 30px;

          @media(max-width: 700px) {
            width: 68%;
            text-align: center;
          }
        }

        &__cta {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 5px;

          @media(max-width: 700px) {
            justify-content: center;
          }

          &-svg {
            width: 35px;
            margin-right: 25px;
          }

          &-link {
            color: $orange;
            text-decoration: none;
          }
        }
      }
    }

    .ilworks-hider {
      display: none;
    }

    .ilworks{
      width: 100%;
      height: 100vh;
      background: url('../assets/il-background.png');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 500ms ease;
      overflow: hidden;

      @media (max-width: 700px){
        height: 989px;
        flex-wrap: wrap;
        align-content: center;
        background-image: none;
      }

      div{
        background-color: $blue;
        width: 333px;
        height: 222px;
        margin-left: 50px;
        box-shadow: -18px 21px 33px rgba(0, 0, 0, 0.2);

        @media (max-width: 700px){
            margin: 20px 0;
        }

        &:first-of-type{
          margin-left: 0;
        }
      }
    }

    .motion {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 0;
      margin-top: 200px;
      margin-bottom: 50px;

      @media (max-width: 700px) {
          flex-wrap: wrap;
          margin-top: 150px;
      }

      &__graphic {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 65px;

        @media (max-width: 700px){
          justify-content: center;
          width: 100%;
          margin: 0;
        }

        &-svg{
          width: 71%;

          svg {
            stroke-dashoffset: 1150;
            stroke-dasharray: 1150;
          }
        }
      }

      &__info {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 65px;
        font-family: $montserrat;

        @media (max-width: 700px){
          justify-content: center;
          width: 100%;
          margin: 0;
          padding-top: 40px;
        }


        &__title {
          width: 100%;
          font-size: 42px;
          font-weight: 600;
          letter-spacing: 10.80px;
          line-height: 50px;
          word-wrap: break-word;

          @media (max-width: 700px){
            font-size: 28px;
            letter-spacing: 2.3px;
            text-align: center;
          }
        }

        &__desc {
          width: 65%;
          margin: 20px 0;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: .5px;
          line-height: 30px;

          @media(max-width: 700px) {
            width: 68%;
            text-align: center;
          }
        }

        &__cta {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 5px;

          @media(max-width: 700px) {
            justify-content: center;
          }

          &-svg {
            width: 35px;
            margin-right: 25px;
          }

          &-link {
            color: $orange;
            text-decoration: none;
          }
        }
      }
    }

    .moworks-hider {
      display: none;
    }

    .moworks{
      width: 100%;
      height: 100vh;
      background: url('../assets/mg-background.png');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 500ms ease;
      overflow: hidden;

      @media (max-width: 700px){
        height: 989px;
        flex-wrap: wrap;
        align-content: center;
        background-image: none;
      }

      div{
        background-color: $blue;
        width: 333px;
        height: 222px;
        margin-left: 50px;
        box-shadow: -18px 21px 33px rgba(0, 0, 0, 0.2);

        @media (max-width: 700px){
            margin: 20px 0;
        }

        &:first-of-type{
          margin-left: 0;
        }
      }
    }

    .about {
      display: flex;
      justify-content: center;
      background-color: #273575;
      padding-top: 120px;
      margin-top: 200px;

      @media(max-width: 700px){
        flex-wrap:wrap;
        padding: 0 40px;
        padding-top: 120px;
      }

      &__info {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 80px;
        margin-right: 30px;
        width: 50%;
        padding-bottom: 45px;

        @media (max-width: 700px){
          justify-content: center;
          width: 100%;
          margin: 0;
        }

        &__title {
          color: #273575;
          font-size: 42px;
          font-family: $montserrat;
          font-weight: 700;
          letter-spacing: 10px;
          padding-bottom: 20px;
          text-shadow:
           -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
             1px 1px 0 #fff;

          @media(max-width: 700px) {
            font-size: 38px;
            letter-spacing: 5px;
            stroke-width: .5px;
            stroke: #fff;
            opacity: .5;
          }
        }

        &__desc {
          font-size: 12px;
          font-family: $montserrat;
          font-weight: 100;
          letter-spacing: 0.5px;
          line-height: 30px;
          width: 450px;
          padding-bottom: 60px;

          @media(max-width: 700px){
            text-align: center;
          }
        }

        &__icons {
          display: flex;
          justify-content: space-between;
          width: 70%;
          padding-bottom: 120px;

            &-group {
                width: 52px;

                svg {

                  .abticon-border {
                    transition: 250ms ease;
                    transform-origin: center;
                  }

                  &:hover .abticon-border {
                    transform: rotateZ(90deg);
                  }
                }

                @media (max-width: 700px){
                  width: 60px;
                  margin-left: 20px;
                }
            }

            @media (max-width: 700px){
              justify-content: center;
              flex-wrap: wrap;
              width: 90%;
              padding-bottom: 0;

              &-mobile {
                margin-left: 0;
              }

              &-behance {
                margin-left: 0;
              }
            }
        }
        &__email {
          width: 100%;
          color: white;
          font-family: $montserrat;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: 0.5px;
          text-decoration: none;
        }
      }

      &__portrait {
        width: 50%;
        // height: 100vh;
        margin-left: 30px;
        background: url(../assets/portrait.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-right: 50px;

        @media (min-width: 1300px){
          background-size: contain;
        }

        @media (max-width: 1200px){
          margin-right: 0;
        }

        @media (max-width: 700px){
          width: 100%;
          height: 330px;
          margin: 0;
          background-size: contain;
        }
      }
    }
    .last{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      position: absolute;
      bottom: 10px;
      font-family: $montserrat;
      font-weight: 100;
      font-size: 12px;
      letter-spacing: 2px;

      @media (max-width: 700px){

        display: none;
      }

      &-email{
        position: relative;
        left: 75px;

      }
      &-copyright{
        position: relative;
        right: 75px;
      }
    }
  }
}

.breakspace {
  @media (max-width: 700px){
    display: none;
  }
}

.circle-pulse {
  animation: pulse 1.75s ease infinite;
}

.ui-ani2 {
  animation: uiAni 2s ease forwards;
}

.il-ani2 {
  animation: ilAni 2s ease forwards;
}

.mo-ani2 {
  animation: moAni 2s ease forwards;
}
